.dropdown {
	max-width: 25rem;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	box-shadow: var(--box-shadow-dark);
	color: currentColor;
	margin-bottom: 5rem;

	.select {
		min-width: 100%;
		background-color: rgb(46, 42, 41);
		padding: 5px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.options {
		min-width: 100%;
		padding: 10px;
    margin-top: 4px;

		& li {
			padding: 0.5rem;
			transition: all 0.2s ease-out;
		}

		& li:hover {
			background-color: var(--color-tertiary);
			color: var(--color-white);
		}
	}
}
