@mixin theme($theme: light) {
	@if $theme == light {
		color: var(--text-color-light);
		background-color: var(--color-light-primary);
	} @else {
		color: var(--text-color-dark);
		background-color: var(--color-dark-primary);
	}
}

@mixin scrollbar-ui-primary() {
	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		border-radius: 1rem;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: linear-gradient(to bottom, orangered, purple, orange);
		box-shadow: var(--box-shadow-light);
	}
}

@mixin scrollbar-ui-secondary() {
	&::-webkit-scrollbar {
		width: 0.8rem;
	}

	&::-webkit-scrollbar-track {
		border-radius: 1rem;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: var(--color-tertiary);
		box-shadow: var(--box-shadow-light);
	}
}

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
	@if $breakpoint == big-screen {
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	} @else if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) {
			@content;
		}
	} @else if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	} @else if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}
}
