@import '../../../sass/mixins';
@import '../../../sass/animations';

.movieDetails {
	@include general-screen-style;

	&__header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-left: 1rem;

		@include respond(phone) {
			flex-direction: column-reverse;
		}

		& div:first-of-type {
			margin-bottom: 3rem;
		}

		& div:last-of-type {
			margin-bottom: 2.5rem;
		}
	}

	& h1 {
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: var(--font-weight-semi-bold);
	}

	& h2 {
		font-size: 2rem;
	}
}

.button {
	color: var(--color-white);
	border-color: var(--color-white);
}

.backdrop {
	height: 55rem;
	min-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: var(--box-shadow-dark);
	border-radius: 5rem;
	overflow: hidden;
	position: relative;

	&__header {
		background-color: var(--transparent-secondary);
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 1rem;

		& svg {
			cursor: pointer;
		}

		& .shelfIcon {
			font-size: 3.5rem;
		}
	}

	&__caption {
		min-width: 100%;
		max-height: 50%;
		background-color: var(--transparent-secondary);
		color: var(--color-white);
		position: absolute;
		bottom: 0;
		text-align: center;
		line-height: 2;
		font-size: 2rem;
		padding: 5rem;
		overflow-y: scroll;
		@include scrollbar-ui-secondary;
		animation: moveInFromButtom 0.4s ease-out 1 backwards;
		display: none;

		@include respond(phone) {
			padding: 2.5rem;
		}
	}

	&:hover &__caption {
		display: block;
	}
}
