@import '../../../sass/mixins';
@import '../../../sass/animations';

.movieDetails {
	@include general-screen-style;

	&__header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-left: 1rem;

		@include respond(phone) {
			flex-direction: column-reverse;
		}

		& div:first-of-type {
			margin-bottom: 3rem;
		}

		& div:last-of-type {
			margin-bottom: 2.5rem;
		}
	}

	& h1 {
		text-transform: uppercase;
		font-size: 2.4rem;
		font-weight: var(--font-weight-semi-bold);
	}

	& h2 {
		font-size: 2rem;
	}
}
