@import '../../../sass/mixins';

.discover {
	display: flex;
	align-items: center;
	justify-content: center;

  .loading {
    
  }

	.error {
		.image {
			height: 60%;
			width: 60%;
			margin: 0 auto 4rem auto;

			@include respond(phone) {
				margin-bottom: 2rem;
			}

			& img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}
