@import '../../../sass/mixins';

.discover {
  padding: 3rem 4rem;
  overflow-y: scroll;
  @include scrollbar-ui-secondary;

	&__title {
		& h1 {
			text-transform: uppercase;
			font-size: 2.4rem;
			letter-spacing: 1px;
		}

    & h3 {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: var(--font-weight-semi-bold);
      margin-top: -8px;
    }
	}

	.loading {
	}
}

.content {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(16.725rem, max-content));
  gap: 4rem;
  // row-gap: 5rem;
  grid-auto-flow: rows;
  grid-auto-rows: max-content;

  @include respond(tab-land) {
    grid-template-columns: repeat(auto-fit, minmax(16.725rem, 30rem));
  }
}

.poster {
  min-height: 40rem;
  min-width: 20rem;
  background-color: var(--color-dark-grey-secondary);
  cursor: pointer;
}
