.avatar {
	display: inline-block;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: var(--box-shadow-light);

	& img {
		width: 100%;
		height: 100%;
		display: block;
	}
}
