.primary_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-dark-secondary);
  padding: .5rem 2rem;
  border-radius: 5rem;
  border: 1px solid transparent;
  box-shadow: var(--vertical-box-shadow-light);
  transition: all .2s ease-out;

  &:hover {
    border: 1px solid var(--color-dark-secondary);
    transform: translateY(-3px);
    background-color: inherit;
    color: currentColor;
  }

  &:active {
    border: 1px solid var(--color-dark-secondary);
    transform: translateY(0);
    background-color: inherit;
    color: currentColor;
  }

  & svg {
    margin-top: -3px;
    margin-right: .5rem;
  }

  & span {
    text-transform: capitalize;
  }
}
