@import '../../../sass/mixins';

.cast {
	@include general-screen-style;

	.castDetails {
		min-height: 70%;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		gap: 5rem;
		margin-bottom: 10rem;

		@include respond(tab-land) {
			max-width: 100%;
		}

		@include respond(tab-port) {
			max-width: 90%;
			flex-direction: column-reverse;
		}
	}

	.castPoster {
		min-height: 100%;
		flex-basis: 40%;
		overflow: hidden;
		border-radius: 1.3rem;
		box-shadow: var(--box-shadow-light);

		@include respond(tab-land) {
			flex-basis: 50%;
		}

		& img {
			height: 100%;
			width: 100%;
			display: block;
		}
	}

	.heading {
		margin-bottom: 2rem;
		& h1 {
			font-size: 3rem;
			font-weight: var(--font-weight-light);
			margin-bottom: 0.6rem;
		}
	}

	.details {
		flex: 1;

		& article {
			& h3 {
				font-size: 2rem;
				margin-bottom: 0.5rem;
				text-transform: uppercase;
				font-weight: var(--font-weight-semi-bold);
				letter-spacing: 1px;
			}

			& p {
				font-size: 2rem;
				max-height: 25rem;
				overflow-y: scroll;
				line-height: 2;
				margin-bottom: 1rem;
				@include scrollbar-ui-secondary;

				@include respond(tab-land) {
					max-height: 40rem;
				}
			}
		}

		& footer {
			display: flex;
			align-items: center;
			gap: 3rem;

			& a {
				font-size: 2rem;
			}

			& a:last-of-type {
				margin-right: auto;
			}
		}
	}
}

.primary_link {
	@include primary_link;
}
