@import '../../../sass/mixins';

.layout {
	display: flex;
	height: 100vh;
	width: 100vw;
	z-index: 900;
}

.main {
	flex: 1;
	background-color: inherit;
	color: inherit;

	& section:last-child {
		height: calc(100% - 7rem);
		max-width: 100%;

		@include respond(phone) {
			height: calc(100% - 8rem);
		}
	}
}
