@import '../../../sass/animations';

.sidedrawer {
  height: 100%;
  width: 55%;
  background-color: #fff;
  box-shadow: var(--horizontal-box-shadow-dark);
  animation: moveInFromLeft .5s ease-in 1 backwards;
}

.sideDrawerDismiss {
  animation: moveInFromRight .5s ease-in 1 backwards;
}
