@import '../../../../sass/mixins';
@import '../../../../sass/animations';

.poster {
	max-height: 100%;
	max-width: 100%;
	border-radius: 1rem;
	box-shadow: var(--box-shadow-light);
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease-out;
	backface-visibility: hidden;

	& header {
		min-width: 100%;
		position: absolute;
		top: 0;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-color: var(--transparent-secondary);
		color: var(--color-white);
		padding: 1rem;
		animation: moveInFromTop 0.3s ease-out 1 backwards;
		display: none;

		& svg {
		}
	}

	& figure {
		max-height: 100%;
		& img {
			min-height: 100%;
			width: 100%;
			display: block;
		}
	}

	& footer {
		position: absolute;
		bottom: 0;
		color: var(--color-white);
		background-color: var(--transparent-secondary);
		text-align: center;
		min-width: 100%;
		padding: 1rem;
		animation: moveInFromButtom 0.3s ease-out 1 backwards;
		display: none;

		p {
			font-size: 1.8rem;

			@include respond(phone) {
				font-size: 2.4rem;
			}
		}
	}

	&:hover {
		transform: translateY(-1.5rem) scale(1.1);
		box-shadow: var(--box-shadow-dark);
		outline: 2.5px solid var(--color-tertiary);
		outline-offset: 0.5rem;
	}

	&:hover header {
		display: flex;
	}

	&:hover footer {
		display: block;
	}
}
