@import '../../../sass/mixins';

.navigation {
	padding: 2rem;

	&__title {
		font-weight: var(--font-weight-bold);
		text-transform: uppercase;
		font-size: 1.4rem;

		@include respond(phone) {
			font-size: 2rem;
		}
	}

	.link {
		margin: 1rem 0;
		padding: 0.2rem 2rem;
		max-width: 100%;
		display: flex;
		align-items: center;
		color: inherit;
		border: 1.5px solid transparent;

		& svg {
			font-size: 1.2rem;
			margin-right: 1rem;
			margin-top: -1px;

			@include respond(phone) {
				font-size: 1.8rem;
			}
		}

		& span {
			font-size: 1.3rem;
			font-weight: var(--font-weight-semi-bold);

			@include respond(phone) {
				font-size: 1.8rem;
			}
		}
	}

	.active {
		border: 1.5px solid currentColor;
		border-radius: 5rem;

		& svg {
		}

		& span {
		}
	}
}
