@import '../../../../sass/mixins';

.primaryText {
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: var(--font-weight-semi-bold);
	background-image: linear-gradient(to right, orangered, purple, orange);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	margin-bottom: 3rem;

	@include respond(phone) {
		font-size: 2rem;
	}
}
