@import '../../../../sass/mixins';

.nodata {
	text-align: center;
	&__image {
		height: 60%;
		width: 60%;
		margin: 0 auto 4rem auto;

		@include respond(phone) {
			margin-bottom: 2rem;
		}

		& img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}
