@import '../../../../sass/mixins';

.sidebar {
	max-width: 15%;
	background: inherit;
	box-shadow: var(--horizontal-box-shadow-light);
	overflow-y: scroll;
	@include scrollbar-ui-primary;

	@include respond(tab-land) {
		max-width: 20%;
	}
}
