@import '../../../../sass/mixins';

.search {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-white);

	@include respond(phone) {
		transform: translateX(-1.5rem);
		margin-bottom: 2rem;
	}

	&__button {
		background: none;
		color: inherit;
		font-size: 1.4rem;
		cursor: pointer;
		transform: translateX(3.5rem);
		margin-top: 3px;
		border-radius: 50%;
		padding: 6px;

		@include respond(big-screen) {
			transform: translateX(3.35rem);
			margin-top: 5px;
		}

		@include respond(tab-port) {
			transform: translateX(3.6rem);
		}
	}

	&__input {
		padding: 1.2rem 2.1rem;
		border-radius: 20rem;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-dark-secondary);
		box-shadow: var(--box-shadow-light);
		transition: all 0.4s ease-in;

		&::placeholder {
			color: inherit;
		}

		&::selection {
			background-color: var(--color-dark-primary);
			color: var(--color-white);
		}
	}
}
