.sidebar {
	max-width: 15%;
	background: inherit;
	box-shadow: var(--horizontal-box-shadow-light);
  overflow-y: scroll;

	.logo {
		& img {
			height: 55%;
			width: 55%;
			display: block;
			margin: 3rem auto;
		}
	}

  .navigation {
    padding: 2rem;

    &__title {
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    .link {
      margin: 1rem 0;
      padding: .2rem 2rem;
      max-width: 100%;
      display: flex;
      align-items: center;
      color: inherit;
      border: 1.5px solid transparent;

      & svg {
        font-size: 1.2rem;
        margin-right: 1rem;
        margin-top: -1px;
      }

      & span {
        font-size: 1.3rem;
        font-weight: var(--font-weight-semi-bold);
      }
    }

    .active {
      border: 1.5px solid currentColor;
      border-radius: 5rem;

      & svg {

      }

      & span {

      }
    }
  }
}
