@import '../../../../sass/animations';
@import '../../../../sass/mixins';

.sidedrawer {
  height: 100%;
  width: 65%;
  box-shadow: var(--horizontal-box-shadow-dark);
  animation: moveInFromLeft .3s ease-in 1 backwards;
  overflow-y: scroll;
  @include scrollbar-ui;
}

.sideDrawerDismiss {
  animation: moveInFromRight .3s ease-in 1 backwards;
}
