@import '../../../sass/mixins';

.fourOhfour {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-35%) translateY(-50%);

	@include respond(phone) {
		transform: translateX(-50%) translateY(-50%);
	}

	.image {
		height: 90%;
		width: 90%;

		@include respond(phone) {
			height: 100%;
			width: 100%;
		}

		& img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	& h1 {
		text-transform: uppercase;
		margin-top: 4rem;
		font-size: 2.8rem;
		font-weight: var(--font-weight-semi-bold);
		background-image: linear-gradient(to right, orangered, purple, orange);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;

		@include respond(phone) {
      margin-top: 2rem;
      font-size: 2rem;
			text-align: center;
		}
	}
}
